body {
    background-color: #f3e3d3;
    }
    
    #contenedor {
        width: 90%;
        max-width: 1100px;
        min-width: 700px;
        margin: 50px auto;
    }
    
    #columnas{
        column-count: 4;
        column-gap: 10px;
    }
    
    .obra{
        display: inline-block;
        background: #7a695d;
        border: 2px solid #341100;
        box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
        margin: 0 2px 15px;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        padding: 15px;
        padding-bottom: 5px;
    }
    h1 {
        font-size: 2.5em;
        margin: 0.5em 0;
        color:#46220f;
        text-align: center;
        margin-top: 100px;
    }
    .obra p {
        font: 1em Arial, sans-serif;
        color:#ffd9ab;
        margin: 0;
        text-align: center;
        
    }
    
    .obra h2 {
        font-size: 1.5em;
        margin: 0.5em 0;
        color:#e5d2c4;
        text-align: center;
    }
    
    
    .obra img {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 15px;
        opacity: 0.7;
    
    }
    .obra img {
        transition: all 5s;
        -webkit-transition:all 5s;
        -moz-transition: all 5s;
        -o-transition:all 5s;
    }
    .obra img:hover{
        opacity: 1;
        ;
    }